<table>
  <tr>
    <th>Subject</th>
    <td>
      <%= @email.subject %>
      <%= link_to '(Raw)', raw_email_path(id: @email.id), target: 'raw' %>
    </td>
  </tr>
  <tr>
    <th>From</th>
    <td>
      <%= @email.from %>
    </td>
  </tr>
  <tr>
    <th>Date</th>
    <td>
      <%= @email.date %>
    </td>
  </tr>
  <tr>
    <th>To</th>
    <td>
      <%= @email.list_to %>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      Body
    </th>
  </tr>
  <tr>
    <td colspan="2">
      <%= @email.body_tag %>
    </td>
  </tr>
</table>
